<h1>Articles#index</h1>

<u1> 
    <% @articles.each do |article| %>
        <li>
            # <a href="<%= article_path(article) %>">
            #     <%= article.title %>
            # </a>
            <%= link_to article.title, article %>
        </li>
    <% end %>
</u1>